:root {
    --medium-blue-color: #3A69D2;
    --dark-blue-color: #1F2937;
    --light-blue-color: #D1D4F4;
    --dropdown-color: #F0F0F0;
    --white-color: #FFFFFF;
    --button-text-color: #4A4E74;
    --main-font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    color: var(--white-color);
    font-family: var(--main-font-family);
}

.container {
    max-width: 550px;
    margin: 0 auto;
}

input, select {
    line-height: 1.5;
}

/* Typography - Start */

h1 {
    font-size: 2.5rem;
}

.task-list-item-price {
    font-size: 1.5rem;
    font-weight: 300;
}

h2, p {
    font-size: 0.75rem;
}

input,
.task-list-item-name {
    font-size: 1.25rem;
}

.btn {
    font-size: 0.875rem;
}

.remove-task-btn {
    font-size: 0.5rem;
}

.task-total-price {
    font-size: 2.25rem;
    text-align: right;
}


/* Typography - End */

/* Header styles - Start */

header {
    background-color: var(--medium-blue-color);
    min-height: 190px;
    text-align: center;
    /* Stop collapsing margin */
    padding-top: 1px;
    padding-top: 4em;
    padding-bottom: 3em;
}

/* Header styles - End */

/* Main content styles - Start */

main {
    background-color: var(--dark-blue-color);
    padding: 2.5em 2.5em 3em 2.5em;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.75em;
}

.btn {
    background-color: var(--light-blue-color);
    border: 1px solid #D5D4D8;
    color: var(--button-text-color);
    border-radius: 0.5em;
    padding: 1em 1.5em;
    font-weight: 500;
    cursor: pointer;
}

.task-list-header-container,
.task-list-item-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.task-list-header-container {
    margin-bottom: 1.25em;
}

.task-list-container {
    border-bottom: 1px solid #C3C6DB;
}

.task-list-item-container {
    margin-bottom: 1.5em;
}

.task-list-item-name {
    font-weight: 700;
}

.remove-task-btn {
    margin-right: auto;
    color: #D5D4D8;
    background-color: transparent;
    border: none;
}

.total-container {
    display: flex;
    justify-content: space-between;
    padding-top: 0.75em;
    padding-bottom: 3em;
}

.total-container h2 {
    padding-bottom: 0.75em;
}

.send-invoice-btn {
    background-color: var(--medium-blue-color);
    color: var(--white-color);
    border: none;
    border-radius: 7px;
    width: 100%;
    font-weight: 500;
}

/* input {
    padding: 0.375em 0.75em;
    border-radius: 0.5rem, 0, 0, 0.5em;
    min-width: 350px;
}

select {
    border: 0;
    padding: 0.1875em 0.75em;
    background-color: var(--dropdown-color);
} */

/* Main content styles - End */