:root {
    --header-background-color: #3A69D2;
    --button-background-color: #3A69D2;
    --button-hover-background-color: #3a9ad2;
    --main-background-color: #1F2937;
    --main-header-color: #FFFFFF;
    --main-text-color: #F5F5F5;
    --secondary-header-color: #D5D4D8;
    --dropdown-color: #F0F0F0;
    --inputs-border-color: #D5D4D8;
    --white-color: #FFFFFF;
    --input-color: #888888;
    --main-font-family: "Inter", sans-serif;
    --slider-checked-color: #ffffff;
    --slider-color: #3A69D2;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    background-color: darkgrey;
}

.container {
    max-width: 565px;
    min-width: 410px;
    min-height: 720px;
    margin: 0 auto;
    background-color: var(--main-background-color);
    padding-bottom: 1em;
}

.enter-tasks-container,
.total-container,
.task-list-header-container,
.task-list-item-container
{
    display: flex;
}

.total-container,
.task-list-header-container,
.task-list-item-container {
    justify-content: space-between;
}

.task-list-header-container,
.task-list-item-container {
    gap: 10px;
}

input, select {
    line-height: 1.5;
}

.invoice-header, .change-theme {
    text-align: center;
}

.btn,
.remove-task-btn {
    cursor: pointer;
}

.btn {
    background-color: var(--button-background-color);
    color: var(--white-color);
    border: 0;
}

.btn:hover {
    background-color: var(--button-hover-background-color);
}

/* Typography - Start */

h1 {
    font-size: 2.5rem;
    margin: 0 0 0.2em;
}

.task-total-price {
    font-size: 2.25rem;
    text-align: right;
}

.task-list-item-price {
    font-size: 1.5rem;
    font-weight: 300;
}

input,
.task-list-item-name,
select,
.fa-plus,
.error {
    font-size: 1.25rem;
}

.btn {
    font-size: 1rem;
}

h2, p {
    font-size: 0.75rem;
}

.remove-task-btn {
    font-size: 0.825rem; /* 8px seemed too small */
}

/* Typography - End */

/* Header styles - Start */

.invoice-header {
    background-color: var(--header-background-color);
    min-height: 190px;
    padding: 4em 0 3em;
    color: var(--main-header-color);
}

/* Header styles - End */

main {
    padding: 2.5em 2.5em 3em 2.5em;
}

/* Add tasks styles - Start */

form {
    padding-bottom: 2.75em;
}

input, select {
    outline: none;
    margin: 0;
    border: 2px solid var(--inputs-border-color);
}

input {
    padding: 0.375em 0.75em;
    border-radius: 0.5rem 0 0 0.5em;
    width: max(65%, 200px);
    color: var(--input-color);
}

input:focus,
select:focus {
    border: 2px solid var(--button-background-color);
}

.input-error {
    border-color: red;
}

.error {
    display: none;
    color: red;
    margin-top: 0.5em;
}

select {
    appearance: none;  /* Remove default styling */
    -webkit-appearance: none;  /* Remove default styling in Webkit browsers */
    -moz-appearance: none;
    border-left: none;
    padding: 0.5em 0.75em;
    background-color: var(--dropdown-color);
    background-image: url('./images/angle-down-solid.svg');
    background-repeat: no-repeat, repeat;
    background-position: right 10px top 50%, 0 0;
    background-size: .65em auto, 100%;
    width: max(20%,80px);
}

.add-task-btn {
    border-radius: 0 0.5em 0.5em 0;
    margin: 0;
    width: max(15%, 50px);
}

.fa-plus {
    /* Needed so it triggers the onclick of the parent (add button) */
    pointer-events: none;
}

/* Add tasks styles - End */

/* Display tasks styles - Start */

h2, .remove-task-btn {
    color: var(--secondary-header-color);
}

.task-list-container {
    border-bottom: 1px solid #C3C6DB;
}

.task-list-header-container {
    margin-bottom: 1.25em;
}

.task-list-item-container {
    margin-bottom: 1.5em;
}

.task-list-header,
.task-total-header {
    text-transform: uppercase;
}

/* Let the user know a task already exists with that name */
.task-item-exists {
    background-color: var(--header-background-color);
    transition: backgroundColour 1s;
    border-radius: 5px;
    padding: 0.25em 0.5em;
}

.task-list-item-name {
    font-weight: 700;
}

.remove-task-btn {
    margin-right: auto;
    background-color: transparent;
    border: none;
}

/* Display tasks styles - End */

/* Total styles - Start */

.total-container {
    padding-top: 0.75em;
    padding-bottom: 3em;
}

.total-container h2 {
    padding-bottom: 0.75em;
}

/* Total styles - End */

/* Send invoice styles - Start */

.send-invoice-btn {
    width: 100%;
    border-radius: 0.5em;
    padding: 1em 1.5em;
    font-weight: 500;
}

.fa-envelope {
    margin-right: 1em;
}

/* Send invoice styles - End */

/* Theme switcher styles - Start */
.change-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75em;
}
.switch {
    position: relative;
    display: inline-block;
    margin: 20px 5px;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--slider-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: var(--slider-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background: var(--slider-checked-color);
}

input:not(:checked) + .slider {
    background: var(--slider-checked-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Theme switcher styles - Start */
