:root {
    --medium-blue-color: #3A69D2;
    --dark-blue-color: #1F2937;
    --light-blue-color: #D1D4F4;
    --dropdown-color: #F0F0F0;
    --white-color: #FFFFFF;
    --button-text-color: #4A4E74;
    --main-font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    color: var(--white-color);
    font-family: var(--main-font-family);
}

.container {
    max-width: 565px;
    min-height: 720px;
    margin: 0 auto;
    background-color: var(--dark-blue-color);
}

input, select {
    line-height: 1.5;
}

/* Typography - Start */

h1 {
    font-size: 2.5rem;
}

.task-total-price {
    font-size: 2.25rem;
    text-align: right;
}

.task-list-item-price {
    font-size: 1.5rem;
    font-weight: 300;
}

input,
.task-list-item-name,
select,
.fa-plus {
    font-size: 1.25rem;
}

.send-invoice-btn {
    font-size: 1rem;
}

h2, p {
    font-size: 0.75rem;
}

.remove-task-btn {
    font-size: 0.5rem;
}

/* Typography - End */

/* Header styles - Start */

header {
    background-color: var(--medium-blue-color);
    min-height: 190px;
    text-align: center;
    /* Stop collapsing margin */
    padding-top: 4em;
    padding-bottom: 3em;
}

/* Header styles - End */

main {
    padding: 2.5em 2.5em 3em 2.5em;
}

/* Add tasks styles - Start */

.enter-tasks-container {
    display: flex;
    padding-bottom: 2.75em;
}

input {
    border: 2px solid #ccc;
    padding: 0.375em 0.75em;
    border-radius: 0.5rem 0 0 0.5em;
    min-width: 350px;
    outline: none;
    margin: 0;
    color: #888888;
}

select {
    appearance: none;  /* Remove default styling */
    -webkit-appearance: none;  /* Remove default styling in Webkit browsers */
    -moz-appearance: none;
    border: 2px solid #ccc;
    border-left: none;
    padding: 0.5em 0.75em;
    background-color: var(--dropdown-color);
    outline: none;
    margin: 0;
    background-image: url('angle-down-solid.svg');
    background-repeat: no-repeat, repeat;
    background-position: right 10px top 50%, 0 0;
    background-size: .65em auto, 100%;
    width: 92px;
}

.add-task-btn {
    background-color: var(--medium-blue-color);
    color: var(--white-color);
    border-radius: 0 0.5em 0.5em 0;
    padding: 1.25em;
    border: 0;
    margin: 0;
}

.fa-plus {
    /* Needed so it triggers the onclick of the parent (add button) */
    pointer-events: none;
}

/* Add tasks styles - End */

/* Display tasks styles - Start */

.task-list-container {
    border-bottom: 1px solid #C3C6DB;
}

.task-list-header-container,
.task-list-item-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.task-list-header-container {
    margin-bottom: 1.25em;
}

.task-list-item-container {
    margin-bottom: 1.5em;
}

.task-list-item-name {
    font-weight: 700;
}

.remove-task-btn {
    margin-right: auto;
    color: #D5D4D8;
    background-color: transparent;
    border: none;
}

/* Display tasks styles - End */

/* Total styles - Start */

.total-container {
    display: flex;
    justify-content: space-between;
    padding-top: 0.75em;
    padding-bottom: 3em;
}

.total-container h2 {
    padding-bottom: 0.75em;
}

/* Total styles - End */

/* Send invoice styles - Start */

.send-invoice-btn {
    background-color: var(--medium-blue-color);
    color: var(--white-color);
    border: none;
    width: 100%;
    font-weight: 500;
    border-radius: 0.5em;
    padding: 1em 1.5em;
    font-weight: 500;
    cursor: pointer;
}

.fa-envelope {
    margin-right: 1em;
}

/* Send invoice styles - End */